/* Estilos geral */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
}

html {
    overflow-x: hidden;
}

body {
    background: #FFF;
}

/* Estilos Header */

header {
    position:sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #FF914D;
    font-size: 1.8rem;
    font-weight: bold;
}

.nav {
    font-size: 1.1rem;
    margin-left: 2.4rem;
    color: #FF914D;
}

.nav:hover{
    color: #FF914D;
    padding: 4px 12px;
    border-bottom: 1px solid #FF914D;
    cursor: pointer;
}

.btn {
    font-size: 1rem;
    margin-left: 2.4rem;
    background: #FF914D;
    padding: 8px 16px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.btn:hover {
    font-size: 1rem;
    margin-left: 2.4rem;
    background: white;
    padding: 4px 12px;
    border-radius: 10px;
    color: #FF914D;
    font-weight: bold;
    border: 1px solid #FF914D;
    cursor: pointer;
}

header>input {
    display: none;
}

header>label {
    font-size: 2.4rem;
    color: #FF914D;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

/* Estilos Section */

.home {
    min-height: 100vh;
    padding: 0 9%;
    background-image: url(img/bg-home.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.content-1 {
    width: 50rem;
    margin-bottom: 10em;
}

.content-1>h3{
    font-size: 4rem;
    color: white;
}

/* Responsividade */

@media screen and (max-width: 1200px) {
    html {
        font-size: 90%;
    }

    .nav, .nav:hover, .btn, .btn:hover {
        margin-left: .8rem;
    }
}

@media screen and (max-width: 768px) {
   
    html {
        font-size: 80%;
    }

    header>label {
        visibility: visible;
        opacity: 1;
    }

    .menu-nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #FFF;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);
        padding: 1.0rem 1.4rem;
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
    }

    .nav, .nav:hover {
        display: block;
        margin: 2rem 0;
        font-size: 1.8rem;
    }

    .btn, .btn:hover {
        display: block;
        margin: 1rem 0;
        font-size: 1.8rem;
    }

    header>input:checked ~ .menu-nav {
        transform: scaleY(1);
        opacity: 1;
    }

    header>input:checked ~ label::before {
        content: '\f00d';
    }
}

@media screen and (max-width: 450px) {
    html {
        font-size: 70%;
    }
}